{% extends "base.html" %} 
{% load bootstrap %} 
{% block title %}Table Menu Price List{% endblock title %} 
{% block main %}
<section>
    <!-- Table Menu Price List -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-md-10 col-sm-10" style="margin-top:50px;margin-left:100px;">
                <div class="panel panel-info">
                    <div class="panel panel-heading">
                        <h3 style="text-align:center;">Table Menu Price</h3>
                    </div>
                    <div class="panel panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price(Unit:K)</th>
                                    <th scope="col">Update Time</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in all_price %}
                                <tr>
                                    <td scope="row">
                                        {{ forloop.counter }}
                                    </td>
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td>
                                        {{item.price}}
                                    </td>
                                    <td>
                                        {{item.pub_date}}
                                    </td>
                                    {% if user.is_superuser %}
                                    <td>
                                        <form action="{% url 'edit_price' item.id %}" method="POST" role="form">{% csrf_token %}
                                            <button class="btn btn-danger">Edit</button>
                                        </form>
                                    </td>
                                    {% else %} {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Table Menu Price List -->

{% if user.is_superuser %}
<section>
    <!-- Add Menu Price List -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- Button trigger modal -->
            <a href="{% url 'add' %}" class="btn btn-success">Add Menu Price</a>
        </div>
    </div>
</section>
<!-- End Add Menu Price List -->
{% endif %}
<hr>

<!-- Show Slider Menu Price List -->
<section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                {% for item in all_price %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ item.pricemenu_image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5>{{ item.name }}</h5>
                            <h6>${{ item.price }}</h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button class="btn btn-success">
                                        <a href="{% url 'about' %}" style="text-decoration:none;color:white;">Booking Now</a>
                                    </button>
                                </div>
                                <small class="text-muted">
                                    <p>{{item.pub_date|date:"Y-m-d"}}</p>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Menu -->
{% endblock main %}