{% extends "base.html" %} 
{% load bootstrap %} 
{%load static %} 
{% block title %}{% if post %}{{post.title}}{% else%}Detail Post{% endif %}{% endblock title %} {% block main %}
<section>
    <div class="container">
        <div class="row" style="margin-top:50px;">
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-12">
                <h2 class="title text-center"></h2>
                <div class="blog-post">
                    <h2 class="blog-post-title">{{post.title}}</h2>
                    <p class="blog-post-meta">{{post.timestamp|date:"Y-m-d"}} by
                        <a href="#">{{user.username}}</a>
                    </p>
                    <img src="{{post.image_post.url}}" alt="Image Post">
                
                    <p>{{post.body|safe|linebreaks}}</p>
                    <a href="{% url 'list_post' %}">Back</a>
                </div>
                <!-- /.blog-post -->
            </div>
        </div>

        <div class="row">

        </div>
    </div>
</section>

<section>
    <!-- show comment -->
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-12">
                <!--Comments-->
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Comment</h6>
                     {% for comment in post.comments.all %}
                    <div class="media text-muted pt-3">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">@{{comment.author}}- {{comment.title_comment}} </strong>
                            {{comment.body|safe|linebreaks}}
                        </p>
                    </div>
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!--comment box -->
<section>
    <div class="container">
        <!-- Leave comment-->
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-12">
                <!--/Response-area-->
                    <h2>Leave your comment</h2>

                    <div class="row">
                        {% if user.is_active %}
                        <form action="{% url 'detail_post' post.id %}" method="POST" role="form">{% csrf_token %}
                            <div class="form-group">
                                {{ form|bootstrap }}
                            </div>
                            <button class="btn btn-success" type="submit" class="form-control"> Comment</button>
                        </form>
                        {% else %}
                        <a href="#">You must login to comment this post</a>
                        {% endif %}
                    </div>
                <!--/Reply Box-->
            </div>
        </div>
    </div>
</section>

{% endblock main %}