{% extends "base.html" %} 
{% block title %}Book Success{% endblock title %} 
{% block main %}
<section style="margin-top:40px;">
    <div class="container">
        <div class="row" style="text-align:center;">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <div class="alert alert-success">
                    <h1>Booking Successful</h1>
                    <p>Thanks you for booking at our salon! See you soon!</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main %}