{% extends "base.html" %} 
{% load static %} 
{% load bootstrap %} 
{% block title %}Images{% endblock title %} 
{% block main %}
<section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                
                {% for item in all_image %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5>{{ item.title }}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <form action="{% url 'delete_image' item.id %}" method="post">{% csrf_token %}
                                        <button class="btn btn-danger" class="form-control" type="submit"> Delete</button>
                                    </form>
                                </div>
                                <small class="text-muted"><p>{{item.pub_date|date:"Y-m-d"}}</p></small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!--Form Upload Images-->
{% if user.is_superuser %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-12">
                <form role="form" action="." method="POST" enctype="multipart/form-data">{% csrf_token %} {{form|bootstrap}}
                    <button class="btn btn-success" type="submit" class="form-control">Upload</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End form upload images-->
{% endif %}
<!--End if-->
<hr> {% endblock main %}